@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

body,
html,
h1,
h2,
h3 {
  font-family: "Raleway", sans-serif !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff #101010;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  -webkit-appearance: none;
}

*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  background: #101010;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #101010;
}

html {
  scroll-behavior: smooth;
}
